.flex-0 {
  flex: 0;
}

.flex-1 {
  flex: 0 1 100px;
}

.flex {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.item.item3 {
  order: 1;
}

.align-self .item5 {
  align-self: auto;
}

.align-self.start .item3 {
  align-self: flex-start;
}

.align-self.end .item3 {
  align-self: flex-end;
}

.align-self.center .item3 {
  align-self: center;
}

.align-self.stratch .item3 {
  align-self: stretch;
}