p {
  color: coral;
  font-size: 24px;
  font-weight: bold;
}

.bg {
  background-color: lightgreen;
  background-image: url('image/cat.png');
}

.bg-image {
  width: 513px;
  height: 340px;
}

.bg-repeat {
  background-repeat: no-repeat;
  height: 540px;
}

.bg-size-cover {
  background-size: cover;
  height: 540px;
}

.bg-fixed {
  background-attachment: fixed;
  height: 540px;
}

.bg-position {
  background-position: top right;
  background-repeat: no-repeat;
  height: 540px;
}