:root {
  --bg-menu: hsla(108, 51%, 51%, 1);
  --color-menu: hsla(0, 0%, 100%, 1);
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 59px;

}

.logo {
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;

  display: flex;
  align-items: center;
}

.menu {
  display: flex;
}

.menu li {
  margin-left: 30px;
}

.menu li a {
  padding: 10px 5px;
}

.menu li a:hover {
  background-color: var(--bg-menu);
  color: var(--color-menu);
}

.menu li a.cadastrar {
  background-color: var(--bg-menu);
  color: var(--color-menu);
  border-radius: 10px;
  padding: 10px 20px;
}

@media(max-width: 825px) {
  * {
    font-size: 40px;
    line-height: 47px;
  }
  .logo {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-bottom: 100px;
  }

  .menu {
    display: block;
  }

  nav {
    width: 100%;
  }

  .menu li {
    padding: 17px 40px; 
    margin-left: 0;
    text-align: center;
    margin-bottom: 50px;
  }

  .cadastrar {
    padding: 15px 22px;
    font-size: 18px;
    font-weight: 300;
    border-radius: 10px;
  }

}