html {
  font-family: var(--font-body);
}

body {
  background-color: var(--primary-color-main);
}

.main {
  background: url('../images/bg-desktop.svg') center center no-repeat;
  background-size: cover;
}

.main .logo img {
  margin: 30px 0px 50px 40px;
}

.main .container-principal {
  display: flex;
  margin-left: 40px;
}










footer .attribution { 
  font-size: 11px; text-align: center; 
}
