body {
  height: 100vh;
}

.slider {
  width: 100%;
  height: 100%;
  position: relative;
}

.slider .seta {
  position: absolute;
  top: 45%;
  z-index: 2;
}

.slider .seta img {
  width: 49px;
  transition: 0.4 ease-in-out;
}

.slider .seta img:hover {
  opacity: 0.8;
}

.slider .seta.seta-voltar {
  left: 40px;
  transform: rotateY(180deg);
}

.slider .seta.seta-avancar {
  right: 40px;
}

.nao-selecionavel {
  opacity: 0.6;
  cursor: default;
}

.slider .imagens-slider {
  height: 100%;
  position: relative;
}

.slider .imagens-slider .slide {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  position: absolute;
}

.mostrar {
  opacity: 1;
  z-index: 1;
}

.slide.slide-1 {
  background-image: url('../imagens/imagem.png');
}

.slide.slide-2 {
  background-image: url('../imagens/imagem\ \(1\).png');
}

.slide.slide-3 {
  background-image: url('../imagens/imagem\ \(2\).png');
}

.slide.slide-4 {
  background-image: url('../imagens/imagem\ \(3\).png');
}

.slider .imagens-slider .slide .conteudo {
  background-color: #fff;
  width: 620px;
  margin-left: 180px;
  padding: 65px 60px;
  border-radius: 10px;
}

.slider .imagens-slider .slide .conteudo .titulo {
  margin-bottom: 80px;
  font-size: 5rem;
  font-weight: 400;
}

.slider .imagens-slider .slide .conteudo .texto {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 50px;
  text-align: justify;
}

.slider .imagens-slider .slide .conteudo a {
  font-size: 3rem;
  font-weight: 700;
}

.conteudo .link-slide1 {
  color: rgba(197, 0, 0, 1);
}

.conteudo .link-slide2 {
  color: rgba(217, 221, 16, 1);
  ;
}

.conteudo .link-slide3 {
  color: rgba(166, 58, 23, 1);
}

.conteudo .link-slide4 {
  color: rgba(16, 172, 221, 1);
}


