body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quadrado {
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

.azul {
  background-color: blue;
}

.vermelho {
  background-color: red;
}

button {
  width: 200px;
}

.amarelo {
  background-color: yellow;
}