* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: bold;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  min-height: 100vh;
  background-color: beige;
}

#tirar-carta {
  width: 226px;
  height: 30px;
  background-color: rgb(245, 176, 91);
  border: 1px solid rgb(253, 156, 37);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s ease-in;
}

#tirar-carta:hover {
  background-color: rgb(240, 150, 41);
  color: white;
}

