main {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.pinturas {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.pinturas .pintura {
  width: 235px;
  height: 331px;
  position: relative;
}

  .pinturas .pintura img {
    width: 100%;
  } 
  
.pinturas .pintura .informacoes {
  position: absolute;
  color: #ffffff;
  bottom: 40px;
  left: 26px;
}

  .pinturas .pintura .informacoes .titulo {
    font-size: 30px;
    margin-bottom: 8px;
  }

  .pinturas .pintura .informacoes .subtitulo {
    font-size: 17px;
    font-weight: 300;
  }

/* main {
  border: 1px solid coral;
  min-height: 100vh;

}
.pinturas {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pintura {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 20px;
  width: 235px;
  height: 330px;
}

.pintura img {
  width: 100%;
}

.informacoes {
  position: absolute;
  top: 70%;
  padding-left: 26px;
  color:  hsla(0, 0%, 100%, 1);
}

.titulo {
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 700;
}

.subtitulo {
  font-size: 17px;
  font-weight: 300px;
} */


