main {
  border: 1px solid coral;
  /* height: 100vh; */

}
.pinturas {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pintura {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 20px;
}

.pintura img {
  width: 235px;
  height: 330px;
}

.informacoes {
  position: absolute;
  left: 0;
  top: 70%;
  padding-left: 26px;
  color:  hsla(0, 0%, 100%, 1);
}

.titulo {
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 700;
}

.subtitulo {
  font-size: 17px;
  font-weight: 300px;
}

@media(max-width: 1030px) {
  .pinturas {
    display: flex;
    flex-direction: column;
  }

  .pintura {
  
  }
}

